.mapBox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: red;

  &--selecting {
    .mapboxgl-canvas-container { 
      cursor: crosshair !important 
    }
  }
}
