.marker {
	mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5a2.5 2.5 0 0 1 0-5 2.5 2.5 0 0 1 0 5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
	mask-size: cover;
	mask-repeat: no-repeat;
	mask-origin: border-box;
	width: 50px;
	height: 50px;
	cursor: pointer;
	background-color: $color-black;

  	&--inputA {
		mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm-1.049 2.379h2.133l2.467 8.82h-1.78l-.63-2.328h-2.362l-.61 2.328H8.45l2.502-8.82zm.986 1.4c-.114.55-.264 1.273-.39 1.79l-.527 2.019h1.88l-.527-2.008c-.138-.55-.288-1.262-.402-1.8h-.034z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
		background-color: $color-green;
	}

  	&--inputB {
    	mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm-.287 2.254c1.067 0 1.824.138 2.432.562.527.356.86.94.86 1.663 0 .802-.469 1.548-1.41 1.904v.047c.987.252 1.72 1.032 1.72 2.156 0 .688-.287 1.354-.803 1.812-.597.54-1.583.825-3.155.825-.837 0-1.468-.056-1.88-.114V4.438c.504-.104 1.376-.184 2.236-.184zm.195 1.262c-.367 0-.595.024-.744.058v2.34h.62c.963 0 1.536-.518 1.536-1.24 0-.872-.655-1.158-1.412-1.158zm-.744 3.636v2.752c.172.035.378.047.676.047.917 0 1.697-.414 1.697-1.412 0-1.02-.87-1.387-1.742-1.387h-.63z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
		background-color: $color-yellow;
	}
}